@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#menu {
    font-size: 2.5rem;
    display: none;
    color: #fff;
}

.navbar a {
    display: inline-block;
    font-size: 1.7rem;
    text-decoration: none;
    margin: 0 2.5rem;
    font-weight: 500;
    letter-spacing: .02;
    transition: .5s ease;
    transform: translateY(-100px);
    opacity: 0;
    animation: TopSlide 1s ease forwards;
    animation-delay: calc(.2s * var(--vlr));
}

@media(max-width:768px) {
    #menu {
        display: block;
    }

    .navbar {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        padding: 1rem 3%;
        background: #0f0a0a;
        border-top: 1px solid rgba(255, 255, 255, .1);
        border-bottom: .2rem solid rgba(255, 255, 255, .1);
        display: none;
        transition: opacity 0.5s ease;
    }

    .open {
        display: flex;
        flex-direction: column;
        opacity: 1;
    }
}

.text-animation {
    position: relative;
}

.text-animation h2 {
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px #2dd4bf;
    background: linear-gradient(#2dd4bf, #2dd4bf);
    background-repeat: no-repeat;
    background-clip: text;
    background-position: -40rem 0;
    opacity: 0;
    animation: textSlide 6s linear infinite, TopSlide 1s ease forwards;
    animation-delay: 4s, 1.2s;
    -webkit-animation: textSlide 6s linear infinite, TopSlide 1s ease forwards;
}

@keyframes textSlide {

    0%,
    10%,
    100% {
        background-position: -40rem 0;
    }

    65%,
    78%,
    85% {
        background-position: 0 0;
    }
}